{% extends 'base.html.twig' %}

{% block title %}ZAI{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-2 text-center">
                <p>

                </p>
            </div>
        </div>
    </div>


    <footer class="fixed-bottom page-footer font-small teal pt-1 bg-light ">
        <div class="col-sm-12 text-center">
            <p>ZAI</p>
        </div>
        <div class="footer-copyright text-center py-1">
            © 2022 Copyright: <a">Wiktor Dereń</a>
        </div>
    </footer>

{% endblock %}