{% extends 'base.html.twig' %}

{% block title %}ZAI{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-2 text-center">
                <p>
                {% if celsius %}
                    <pre>Current temperature in {{ city }} is {{ celsius }} celsius degrees.</pre>
                {% endif %}
                {% if sun_clouds == "Clouds"%}
                    <img src="http://openweathermap.org/img/wn/03d@2x.png">
                {% elseif sun_clouds == "Clear" %}
                    <img src="http://openweathermap.org/img/wn/01d@2x.png">
                {% elseif sun_clouds == "Rain" %}
                    <img src="http://openweathermap.org/img/wn/09d@2x.png">
                {% endif %}

                </p>
            </div>
        </div>
    </div>


    <footer class="fixed-bottom page-footer font-small teal pt-1 bg-light ">
        <div class="col-sm-12 text-center">
            <p>Zaawansowane Aplikacje Sieciowe</p>
        </div>
        <div class="footer-copyright text-center py-1">
            © 2022 Copyright: Wiktor Dereń</a>
        </div>
    </footer>


{% endblock %}