{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="">
                    <div class="card bg-light mb-3 mt-5" >
                        <div class="card-body">
                            <form class="form-horizontal" role="form" method="post">
                                {% if error %}
                                    <div class="alert alert-danger">Incorrect data.</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        Logged in as {{ app.user.username }} <a href="{{ path('app_logout') }}">Log out</a>
                                    </div>
                                {% endif %}


                                <div class="col-md-12">
                                    <input type="email" value=""
                                           name="email" id="inputEmail" placeholder="E-mail"
                                           class="form-control" required autofocus pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                    <br>
                                    <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" required>
                                    <br>
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >{#
                                    <input type="checkbox" id="_remember_me" name="_remember_me" checked/>
                                    <label for="_remember_me">Remember me</label>#}
                                </div>
                                <button class="btn btn-sm btn-primary col-md-12" type="submit">
                                    Log in
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
