{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-10 ml-md-auto">
            <div class="">
                <div class="card bg-light mb-3 mt-5" >
                    <div class="card-body">
    {{form(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
